#budgetDashboardWapper{
  padding:2px;
  display:grid;
  overflow:scroll;
  height:90%;
  grid-template-rows:5fr 1fr 3.90fr .10fr;
}

#carouselSlideShowContainer{
  background-color: white;
  border-radius:5px;
  margin:1%;
  padding:2px;
  display:flex;
  flex-direction:column;
  grid-row: 1/2;
}

#graphicalSummaryContainer{
  background-color:black;
  color:white;
  border-radius:5px;
  align-self:center;
  justify-self: center;
  height:100%;
  padding:2px;
  width:90%;
  display:flex;
  justify-content:center;
  align-items:center;
}

#additionalBudgetSummaryContainer{
  background-color: yellow;
  border-radius:5px;
  margin:1%;
  overflow:auto;
  grid-row: 3/4;
}

.additionalSummaryContentContainer{
  background-color:orange;
  border-radius:5px;
  padding:2px;
  margin:5px;
  height:50%;
  grid-row: 2/3;

}

#quickAddButton{
  position:fixed;
    bottom:0;
    right:0;
    margin-right:1em;
    margin-bottom:1em;
    background-color:grey; /*will remove once bootstrap button added*/
}

#carouselControlWrapper{
  display:flex;
  justify-content:center;
  margin-top:5%;
  background-color:lavender;
}

@media(min-width:768px){
  #budgetDashboardWapper{
    grid-template-rows:60% 40%;
    grid-template-columns: 60% 40%;
    grid-auto-flow: row;
  }

  #carouselControlWrapper{
    display:flex;
    justify-content:center;
    margin-top:5%;
    grid-column:1/3;
  }

  #graphicalSummaryContainer{
    background-color:black;
    color:white;
    border-radius:5px;
    align-self:center;
    justify-self: center;
    height:100%;
    padding:2px;
    width:90%;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  #carouselSlideShowContainer{
    grid-column:1/2;
    grid-row:1/2
  }

  #carouselControlWrapper{
    grid-column:1/3;
    grid-row:2/3;
  }


#additionalBudgetSummaryContainer{
  grid-column: 2/3;
  grid-row:1/2
}

}

@media(min-width:900px){
  #quickAddButton{
   display:none;

  }

}
