<div id="budgetDashboardWapper">

  <div id="mainBudgetSummaryContainer">

      <span>Main Budget Summary Container</span>
      <div id="graphicalSummaryContainer">
          <div> Graphical Container</div>
      </div>

  </div>

  <div id="additionalBudgetSummaryContainer">
      <div style="flex:.10;"> Additional Budget SummaryContainer</div>
      <div class="additionalSummaryContentContainer">

          <div class="additionalSummaryContentContainer">additionaSummary Content</div>

      </div>
      <div class="additionalSummaryContentContainer">

          <div class="additionalSummaryContentContainer">additionaSummary Content 2 </div>

      </div>

      <div class="additionalSummaryContentContainer">

          <div class="additionalSummaryContentContainer">additionaSummary Content 3</div>

      </div>


      <div class="additionalSummaryContentContainer">

          <div class="additionalSummaryContentContainer">additionaSummary Content 4</div>

      </div>


      <div class="additionalSummaryContentContainer">

          <div class="additionalSummaryContentContainer">additionaSummary Content 5</div>

      </div>

  </div>

  <div id="carouselControlWrapper">Carousel Control Wrapper</div>
  <button id="quickAddButton"> Quick Add Button</button>
</div>
